//noinspection SassScssResolvedByNameOnly
.btn
  @include button
  @include hover-lift

  &-primary
    @include button
    background-color: $primary-dark
    color: $white
    @include hover-lift

  &-secondary
    @include button
    background-color: transparent
    color: $primary-dark
    border: 0.5px solid $primary-dark
    @include hover-lift

  &-icon
    align-items: center
    display: flex
    justify-content: space-between
    margin: 0 auto
    img
      height: auto
      margin: 0 auto
      padding: $space-x-small
      z-index: 55
      width: 3rem